body {
    margin: 0;
    background: #000;
    font-family: 'Lato', sans-serif;
    color: snow;
    overflow-y: hidden;
}

/* video settings */
video {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    /*background: url('/assets/bg/bg_placeholder.png') no-repeat;*/
    /*background-size: cover;*/
    transition: 1s opacity;
}

@media screen and (max-device-width: 767px) {
    body {
        background: url(/assets/bg/bg_mobile.jpg) #000 no-repeat center center fixed;
        -webkit-background-size:cover;
        background-size:cover;
    }

    #bgvid {
        display: none;
    }
}

#prj_bg iframe, #prj_bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* utilities */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

/* project description div*/

#prj_desc {
    position: absolute;
    /*display: none;*/
    max-width: 250px;
    text-align: left;
    text-shadow: 0 0 1px black, 0 0 8px #dbdbdb;
}


/* main container */

#credits {
    width: 100vw;
    float: left;
}

#overall {
    width: 100vw;
    float: left;
}

#container {
    width: 100vw;
    float: left;
    overflow: hidden;
}

#project_menu {
    font-size: 10pt;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    text-align: right;
}

.project-list {
    text-align: right;
    margin-right: 20px;
    list-style: none;
}

.project-list-item {
    font-family: "Times New Roman", sans-serif;
}

#about {
    font-size: 10pt;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

#about .about-title {
    font-style: italic;
}

#about .about-desc {
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Times New Roman", sans-serif;
    max-width: 300px;
}

.nav-button {
    text-align: center;
    cursor: pointer;
}

.nav-button.button-up{
    background: url("../assets/arrow_up.png") center center no-repeat;
    background-size: 20px;
}

.nav-button.button-down{
    background: url("../assets/arrow_down.png")  center center no-repeat;
    background-size: 20px;
}

#calendar {
    margin: 0 auto;
    /*max-width: 500px;*/
    /*max-width: 800px;*/
    height: 100vh;
    position: relative;
}


#calendar .nav-button {
    height: 20px;
    margin: 0 auto;
    width: 50px;
}

#calendar_up {
    position: relative;
    bottom: 0;
}

#calendar_down {
    position: relative;
    bottom: 0;
}

.calendar-list {
    /*overflow-y: scroll;*/
    overflow-y: hidden;
    overflow-x: hidden;
    /*height: 90vh;*/
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

.calendar-list li {
    list-style-type: none;
    /*text-shadow: black 2px;*/
    /*padding-bottom: 1em ;*/
    height: 32px;
    cursor: default;
    vertical-align: middle;
    text-shadow: 0 0 2px black, 0 0 0.5em black;
    /*text-shadow: 0 0 1px black, 0 0 8px #dbdbdb;*/

}

.calendar-list li.selected {
    font-size: 42pt;
    margin-bottom: 68px;
    /*margin-top: -20px;*/
}

.calendar-year-label {
    /*font-size: 18pt;*/
    font-size: 10pt;
    opacity: 0.75;
}

.calendar-month-label {
    /*font-size: 16pt;*/
    font-size: 10pt;
    opacity: 0.75;
    margin-top: -10px;
    margin-bottom: -20px;
}

.project-stripe {
    background-color: snow;
    border: 2px snow solid;
    position: absolute;
    transition: opacity 0.4s linear,
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
    box-shadow: 0 0 1px black;
    /*box-shadow: 0 0 8px #dbdbdb;*/
    z-index: 500;
}

.project-stripe.blur {
    opacity: 0.1;
}

.project-stripe:hover {
    background-color: transparent;
    /*border: 2px snow solid;*/
}

#prj_desc.right {
    text-align: right;
}

.project-description {
    font-size: 10pt;
    font-family: "Times New Roman", sans-serif;
    text-shadow: 0 0 8px #dbdbdb;
}

.project-description .title {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.project-description .description {
    margin-top: 1em;
}

#subscribe_container {
    font-size: 10pt;
    position: absolute;
    /*left: 20px;*/
    left: 0;
    /*bottom: 20px;*/
    bottom: 0;
    cursor: pointer;
    width: 160px;
    float: left;
}

#subscribe_container .subscribe-title {
    /*font-style: italic;*/
    float: left;
    padding: 20px;
}

#subscribe_container .subscribe-desc {
    /*margin-bottom: 20px;*/
    margin-left: 20px;
    font-family: "Times New Roman", sans-serif;
    max-width: 160px;
}

#subscribe_container .subscribe-desc input {
    background: transparent;
    border: none;
    color: snow;
    margin-left: 20px;
    width: 120px;
}

#subscribe_container .subscribe-desc input::placeholder {
    color: snow;
    font-style: italic;
}

.lang-select {
    /*vertical-align: bottom;*/
    /*font-weight: 700;*/
    /*font-size: 10pt;*/
    /*position: absolute;*/
    /*right: 120px;*/
    /*bottom: 18px;*/
    /*float: left;*/
    /*margin-left:40px;*/
    position: absolute;
    right: 0;
    bottom: 20px;
    /*margin-bottom: 20px;*/
}

.mobile.only.lang-select {
    bottom: 0;
    padding-bottom: 20px;
}

.lang-select a {
    cursor: pointer;
}

.lang-select a.active {
    font-weight: 700;
}

#follow {
    font-size: 10pt;
    position: absolute;
    right: 150px;
    bottom: 18px;
    cursor: pointer;
}

#contacts {
    /*font-size: 8pt;*/
    font-size: 10pt;
    /*font-weight: 100;*/
    max-width: 150px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#contacts .contacts-desc {
    margin-bottom: 10px;
    /*font-weight: 100;*/
    text-align: right;
    margin-right: 20px;
    font-family: "Times New Roman", sans-serif;
    text-shadow: 0 0 1px black, 0 0 8px #dbdbdb;
}

#contacts .contacts-title {
    text-align: right;
}

#contacts .contacts-desc a {
    color: snow;
    text-decoration: none;
}

#contacts .contacts-title a {
    text-decoration: none;
    color: snow;
}

.animate-div {
    position: absolute;
    z-index: 1000;
}

.animate-div div {
    float: left;
}

.animate-div .anim-letter {
    float: left;
    font-size:42pt;
    font-weight: 400;
    text-shadow: 0 0 0.5em black;
    font-style: italic;
}

.anim-letter.bold {
    font-weight: 700;
}

.hidden {
    display: none;
}

.hidden-first {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .desktop.only {
        display: none;
    }

    body {
        font-size: 8pt;
    }


    #calendar {
        margin: 0 auto;
        /*max-width: 500px;*/
        /*max-width: 700px;*/
        height: 100vh;
        position: relative;
    }

    .viewport {
        display: inline-flex;
        overflow: hidden;
    }

    #credits {
        width: 100vw;
        float: left;
        height: 100vh;
    }

    #container {
        width: 100vw;
        float: left;
        height: 100vh;
    }

    #overall {
        height: 100vh;
        width: 100vw;
        float: left;
    }

    .lang-select {
        padding: 20px;
        z-index: 5000;
    }
}

/* Not mobile */
@media only screen and (min-width: 768px) {

    #calendar {
        max-width: 768px;
    }

    .mobile.only {
        display: none;
    }
}

.overall-container, .credits-container {
    font-family: "Times New Roman", sans-serif;
    /*font-size: 30px;*/
    font-size: 10pt;
    float: left;
}

.credits-container{
    left: 50%;
    top: 50%;
    text-align: center;
    position: relative;
    transform: translate(-50%,-50%);
}

.credits-footer {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100vw;
    font-weight: 100;
    font-size: 10px;
}

.credits-footer.swiper {
    text-align: left;
    margin-left: 20px;
}

.overall-title {
    text-align: center;
    font-style: italic;
    position: relative;
    top: 20px;
}

.overall-title.swiper {
    text-align: right;
    margin-right: 100vw;
    right: 20px;
    position: absolute;}

.overall-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
    position: relative;
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
}

.credits-container a {
    text-decoration: none;
    color: snow;
}

.credits-container .parerga-link, .credits-container .subscribe-link{
    font-family: 'Lato', sans-serif;
}


.mobile-prj-desc {
    position: absolute;
    /*max-width: 200px;*/
    white-space: nowrap;
}

.rotated-cw {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotated-ccw {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.debug-print {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*  slick fix  */
.slick-slide {
    outline: none
}
